li{
    list-style: none;
    margin: 15px;
}
#logo{
    height: 100px;
    margin: 2px;
}
#spot{
    color: aliceblue;
    font-style: italic;
    position:absolute;
    left:70rem;
    padding-top:20px;
    
}
#btn{
    
}
.aside{
    background:url("/wallpapers/bg1.png") no-repeat ;
    background-size: cover;
    opaci
    align-items: center;
    background-position: center;
    height: auto;
    width:auto;
    /* width: 3000px; */
}
#home_img{
    height: 100vh;
    border-radius: 8%;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color:rgb(57, 255, 47);
}
.aside > div{
    display:inline;
}
.aside{
    align-items: center;
    justify-content:center;
    align-content:space-around;
    margin: 50px;
    display: flex;
    margin: 20px;
}
#why{
    background-color: #fff;
    justify-content: center;
}
#home >span{
    display:inline-block;
    font-size: 200px;
}
nav{
   background-color:#000;
   display: flex;
   justify-content: space-around;
   width:100%;
   font-size: 3rem;
   position: sticky;
   padding: 2px;
   top: 0px;
   
}
ul{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    
}
li+ul{
    font-size: 2rem;
}
h1{
    font-size: 200px;
    /* align-self: center; */
}
#purple{
    background-color:rgb(109, 0, 128);
    align-items: center;
    justify
}